fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic-settings
email-validator
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
httpx
joblib
numpy
pandas
scikit-learn
supabase
